.payday__img {
  margin: 2rem;
}

/*
.navTop
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  ul
    display: flex
    flex-direction: row
    text-decoration: none
    list-style: none
    gap: 3em
    align-content: center
    li
      font-weight: 600
      font-size: 2rem
      display: inline-block
*/
